<!DOCTYPE html>
<html>
<head>
  <title>Property web scraper</title>
  <%= stylesheet_link_tag    "property_web_scraper/application", media: "all" %>
  <%= javascript_include_tag "property_web_scraper/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
