<!DOCTYPE html>
<html>

<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <%= yield %>
  </div>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script>
  // var carouselPhotos = [{
  //   src: '/static/doc-images/carousel/squirrel.jpg'
  // }];
  // var carouselPhotos = @markers.to_json;
  var carouselPhotos = <%== @listing.image_urls.to_json %>;
  debugger;

  new Vue({
    el: '#app',
    data: {
      carouselPhotos: carouselPhotos
    }
  })
  </script>
</body>

</html>