.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.byebug_history
spec/dummy/config/secrets.yml
.byebug_history

spec/dummy/node_modules