<div class="row">
  <div class="col-sm-12">
    <%= form_tag("/scrapers/submit", method: "post") do %>
      <div>
        <%= label_tag(:import_url, "Host to scrape:") %>
        <span class="url_input">
          <%= collection_select(:scraper, :scraper_name, @scraper_configs_coll, :id, :host) %>
        </span>
      </div>
      <br>
      <%= submit_tag("Go") %>
    <% end %>
    <br>
    <p><a href="https://github.com/etewiah/property_web_builder/issues/13">
        This is an experimental feature. Help us improve it by giving feedback here.</a>
    </p>
  </div>
</div>