<div class="row">
  <div class="col-sm-12">
    <%= form_tag("/retrieve", method: "get") do %>
      <%= label_tag(:source_url, "Webpage URL:") %>
      <span class="url_input">
        <%= text_field_tag(:source_url) %>
      </span>
      <br>
      <%= submit_tag("Retrieve from webpage") %>
    <% end %>
    <br>
    <p><a href="https://github.com/etewiah/property_web_builder/issues/13">
        This is an experimental feature. Help us improve it by giving feedback here.</a>
    </p>
  </div>
</div>