<div class="row">
  <div class="col-sm-12">
    <h3 style="margin: 20px 0px">Get started by selecting the website you would like to scrape from</h3>
    <%= form_tag("/scrapers/submit", method: "post") do %>
      <div>
        <%= label_tag(:import_url, "Host to scrape:") %>
        <span class="url_input">
          <%= collection_select(:scraper, :scraper_name, @scraper_configs_coll, :id, :host) %>
        </span>
      </div>
      <br>
      <%= submit_tag("Go") %>
    <% end %>
    <br>
    <br>
    <br>
    <p>Help us improve this product by giving us some feedback or contributing <a href="https://github.com/RealEstateWebTools/property_web_scraper">
        here.</a>
    </p>
    <p>
    </p>
    <p>
      <form action="https://formspree.io/your@email.com" method="POST">
        <div class="form-group row">
          <label for="example-url-input" class="col-2 col-form-label">Url you would like to scrape</label>
          <div class="col-10">
            <input class="form-control" type="url" value="" id="example-url-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-bool-input" class="col-2 col-form-label">Would you pay for this service?</label>
          <div class="col-10">
            <input class="form-control" type="bool" value="" id="example-bool-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-email-input" class="col-2 col-form-label">Email</label>
          <div class="col-10">
            <input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label">Any other comments:</label>
          <div class="col-10">
            <input class="form-control" type="text" value="" id="example-text-input">
          </div>
        </div>
        <input type="submit" value="Send">
      </form>
    </p>
  </div>
</div>