<footer class="bd-footer text-muted">
  <div class="container">
    <ul class="bd-footer-links">
      <li><a href="https://github.com/RealEstateWebTools/property_web_scraper">GitHub</a></li>
    </ul>
    <p>Designed and built by <a href="https://github.com/RealEstateWebTools/property_web_scraper" target="_blank">the PropertyWebBuilder team</a>
    .</p>
  </div>
</footer>