<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Property Web Scraper</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bd-main-nav" aria-controls="bd-main-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="bd-main-nav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Website Scraper</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
