<header class="navbar navbar-light navbar-toggleable-md bd-navbar">
  <nav class="container">
    <div class="d-flex justify-content-between hidden-lg-up">
      <a class="navbar-brand" href="/">
        Website Scraper
      </a>
      ||
      <a class="navbar-brand" href="/mls">
        MLS Importer
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bd-main-nav" aria-controls="bd-main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bd-main-nav">
      <ul class="nav navbar-nav">
        <li class="nav-item pull-left">
      <a class="nav-item nav-link pull-left" href="/">
        Website Scraper
      </a>
      <a class="nav-item nav-link pull-left" href="/mls">
        MLS Importer
      </a>

        </li>
      </ul>
    </div>
  </nav>
</header>