/*
*= require property_web_scraper/social-sharing
*/


/*.vue-map-container {
  width: 100%;
  height: 100%;
}
*/
.vue-map-container .vue-map {
  min-height: 500px
}

.main-header {
  font-weight: 500;
}


