<div class="product-info">
  <div class="wp-block property list no-border">
    <div class="wp-block-content clearfix">
      <br>
      <br>
      <h3><%= I18n.t("property.details") %></h3>
      <br>
      <table class="table table-bordered table-striped ">
        <tbody>
          <tr>
            <td><strong>Reference:</strong></td>
            <td>
              <%=  @listing.reference %>
            </td>
          </tr>

 
        </tbody>
      </table>
    </div>
  </div>
</div>
