<p>Properties retrieved..:</p>
<table class="table">
  <tr>
    <th>Reference</th>
    <th>Price</th>
    <th>Street Number</th>
    <th>Street Name</th>
  </tr>
  <thead>
  </thead>
  <tbody>
  <% @properties.each do |property| %>
    <tr>
      <td><%= property["reference"] %></td>
      <td><%= property["price_sale_current"] %></td>
      <td><%= property["street_number"] %></td>
      <td><%= property["street_name"] %></td>
    </tr>
  <% end %>

  </tbody>
</table>
<div style="display: block;">

</div>
<div>
</div>