<div class="row">
  <div class="col-sm-12">
    <h3 style="margin: 20px 0px">
      Retrieve and display MLS data in a standard format
    </h3>
    <p></p>
    <% if @error_message %>
      <%= form_tag("/mls", method: "get") do %>
        <%= select_tag 'mls_slug', options_from_collection_for_select(PropertyWebScraper::MlsImportSource.all, :slug, :displayName), :onchange => "this.form.submit();"  %>
      <% end %>
    <% else %>
      <%= render "retriever_form" %>
    <% end %>
    <br>
    <br>
    <div id="retrieve-results"></div>
    <br>
    <br>
    <%= render "feedback_form" %>
  </div>
</div>