<div class="row">
  <div class="col-sm-12">
    <h3 style="margin: 20px 0px">
      Easily retrieve details of properties for sale or rent in a standard format
    </h3>

    <div>
      <% @props_hash.keys.each do |prop_key| %>
        <div>
          <%= @props_hash[prop_key].to_s %>
          <a href="/stash/<%= prop_key %>">/stash/<%= prop_key %></a>
        </div>
      <% end %>
      ttt
    </div>
  </div>
</div>