<div class="row">
  <div class="col-sm-12">
    <h3 style="margin: 20px 0px">
      View prop
    </h3>
    <div>
      <div>
        <%= @prop.to_s %>
      </div>
      ttt
    </div>
  </div>
</div>